.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 282px;
    width: 65%;
    gap: 7px;
   
}

@media screen and (max-width: 918px) {
    .profile__info {
        align-items: center;
    }
}

@media screen and (max-width: 579px) {
    .profile__info {
        width: 100%;

    }
    
}