.profile {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    display: flex;
    gap: 17px;
    margin-bottom: 58px;
    align-items: center;
}


@media only screen and (max-width: 918px) {
    .profile {
        flex-direction: column;
        width: 90%;
    }
}



@media screen and (max-width: 370px) {
    .profile {
      max-width: 282px;
      margin-bottom: 37px;
    }
    
}



