@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/page/page.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/profile/__edit-btn-box/profile__edit-btn-box.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__delete/card__delete.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__container/card__container.css);
@import url(../blocks/card/__heart/card__heart.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/card/__heart/_active/card__heart_active.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__photo-container/popup__photo-container.css);
@import url(../blocks/popup/__btn/popup__btn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/popup/__photo-text/popup__photo-text.css);
@import url(../blocks/popup/_type/popup_type_photo.css);
@import url(../blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__btn/_inactive/popup__btn_inactive.css);