.card__heart {
    margin: 0 0 24px 0;
    background-image: url(../../../images/Vector.svg);
    width: 22px;
    height: 19px;
    border: 0;
    background-color: transparent;
    align-self: center;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.card__heart:hover {
    opacity: 0.5;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
}